<div class="row">
    <div class="small-6 large-6 columns text-center small-centered">
    	<div class="widget">
        	<h1 id="main-title">Hey Btown Hacker!</h1>
        	<div class="panel callout radius">
			  <h5>What the heck is this?</h5>
			  <p>It's a directory of all the hackers/developers in Bloomington, Indiana.</p>
			  <h5>What perk?</h5>
			  <p>We need hackers/developers to become the ambassadors of Btown. We have a tech scene here, right?</p>
			  <h5>Honestly?</h5>
			  <p>Well... all of the above but, also, I just want to see how many hackers/devs there are in Btown, create the ability for potential clients to find contractors, share cool events, and anything else?</p>
			</div>
        	<a href="/auth/github/" class="button expand">Sign up with Github</a>
        </div>
    </div>
</div>
