<div class="row">
    <div class="small-12 large-12 columns text-center">
        <h1 id="main-title">Please sign in</h1>
        <a href="/auth/github/" class="button radius round">with GitHub</a>
    </div>
</div>
