.widget
{
  position: relative;
  width: 100%;
  min-height: 400px;
  max-height: 500px;
  margin: 0;
  padding: 0 !important;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
}

.widget > .cover
{
  height: 125px;
  overflow: hidden;
}

.widget > .cover > img
{
  width: 100%;
  height: auto;
  min-height: 160px;
  border-radius: 4px 4px 0 0;
}

.widget > .photo
{
  position: absolute;
  top: 47px;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: 0 0 0 -55px;
  border: 5px solid #FFF;
  border-radius: 50%;
  box-shadow: 0px -4px 11px #000;
}

.widget > h1, .widget > h2, .widget > h3
{
  display: block;
  margin: 10px 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #999;
}

.widget > h2 {
  margin: 0;
}

.widget > h1
{
  margin: 24px 0 0 0;
  font-size: 26px;
  color: #000;
}

.widget > h3 { font-size: 12px }

.widget > ul
{
  position: absolute;
  top: 20px;
  left: 100%;
  background: #2CDFD3;
  border-radius: 0 3px 3px 0;
}

.widget > ul > li > a
{
  display: block;
  padding: 5px 6px;
  color: #FFF;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid #2CD5CA;
  transition: background-color .3s;
}

.widget > ul > li:hover > a { background-color: #2CD5CA }
.widget > ul > li:first-child > a { border-radius: 0 3px 0 0 }

.widget > ul > li:last-child > a
{
  border: none;
  border-radius: 0 0 3px 0;
}

.widget > .links_bottom {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;

}
.widget > .links_bottom > a img {
  width: 30px;
}

#myProfile {
  padding: 0 !important;
}

#myProfile > .widget {
  /*width: 228px;*/
}

.bio_box {
  height: 200px;
}

.hire_button {
  display: block !important;
}

.bio_box_1 {
  max-height: 28px;
  overflow: hidden;
  border-bottom: 1px solid #E0E0E0;
  width: 90%;
  margin: 0 auto !important;
}

.large_image {
  background: url(../images/forest.JPG) no-repeat center center fixed;
  background-size: cover; 
}